* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans';
    overflow-x: none;
}

html {
    width: 100%;
    height: 100%;
    background-image: url(../imagens/13972.jpg);
    background-size: 500px;
    background-repeat: repeat;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 150%;
    background-color: #f1f1f1eb;
    box-sizing: border-box;

}

header {
    width: 100%;
    height: 70px;
    padding-top: 20px;
    background-color: white;
}

header img {
    position: absolute;
    left: 20px;
    top: 2%;
}

img#perfil_img {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 90px;
}

div#menu {
    width: 50%;
    height: 60px;
    box-sizing: border-box;
    position: absolute;
    left: 33%;
    top: 35px;
    display: inline-block;
}

div#menu strong {
    color: #ca6f42;
}

div#menu a {
    text-decoration: none;
    margin: 15px;
    color: #ca6f42;
    font-size: 1.4em;
    font-weight: bold;
    padding: 15px 5px 31px 5px;
}

div#menu a:hover {
    border-bottom: 2px solid #ca6f42;
}

div#perfil_user {
    width: 140px;
    height: 50px;
    padding: 8px;
    font-family: 'Josefin Sans';
    display: flex;
    position: relative;
    top: -10px;
    left: 88%;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.385);
}

div#perfil_user :nth-child(1) {
    color: #ca6f42;
}

div#perfil_user :nth-child(3) {
    font-size: 10px;
    color: #bebebe;
}

body section {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

div#horario {
    width: 40%;
    height: auto;
    position: relative;
    background-color: #ffad5b90;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 20px;
}

.materia-item {
    width: 100%;
    height: 80px;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding-left: 100px;
    box-sizing: border-box;
    /* background-color: rgba(255, 255, 255, 0.66); */
}

.materia-item strong {
    position: absolute;
    right: 50px;
}

body section section {
    width: 60%;
    position: absolute;
    left: 40%;
    top: 125px;
    box-sizing: border-box;
}

  .materia-completo {
    width: 90%;
    height: auto;
    position: static;
    display: block;
    margin-left: 50px;
    display: inline-block;
    box-sizing: border-box;
    border-top: 1px solid black;
  }

  .caixa {
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 1.7em;
    box-sizing: border-box;
    padding-left: 40px;
    font-weight: 600;
    user-select: none;
    cursor: pointer; /* Adicionei cursor pointer para indicar que é clicável */
    
  }

  .caixa .icone {
    color: black;
    width: 50px;
    height: 50px;
    padding-right: 20px;
    margin-left: auto; /* Move o ícone para a extremidade direita da caixa */
    transition: .5s;
  }

  .rotate {
    transform: rotate(180deg);
  }

  .conteudo-fechado {
    display: none;
    transition: 1s;
  }

  .conteudo-aberto {
    display: block;
    transition: 1s;
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: lightgray;
  }