*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    width: 100%;
    height: 100%;
    background-image: url(../imagens/13972.jpg);
    background-size: 500px;
    background-repeat: repeat;
}

header {
    width: 100%;
    height: 105px;
    padding-top: 20px;
    background-color: white;
}

header #logomarca {
    width: 340px;
    height: 70px;
    position: relative;
    left: 20px;
    top: 5px;
    display: inline-block;
    background-image: url(../imagens/logomarca-EDA_completo.png);
    background-size: cover;
}

div#menu {
    width: 50%;
    height: 60px;
    box-sizing: border-box;
    position: absolute;
    left: 33%;
    top: 70px;
    display: inline-block;
}

div#menu strong {
    color: #ca6f42;
}

div#menu a {
    text-decoration: none;
    margin: 15px;
    color: #ca6f42;
    font-size: 1.4em;
    font-weight: bold;
    padding: 15px 5px 31px 5px;
}

div#menu a:hover {
    border-bottom: 2px solid #ca6f42;
}

img#perfil_img {
    width: 60px;
    height: 60px;
}

div#perfil_user {
    width: 70px;
    height: 90px;
    padding: 8px;
    position: absolute;
    top: 5px;
    right: 40px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.385);
}

div#perfil_user :nth-child(2) {
    color: #ca6f42;
}

div#perfil_user :nth-child(3) {
    font-size: 10px;
    color: #bebebe;
}

body > section {
    width: 100%;
    height: 100%;
    padding-top: 15px;
    background-color: #f1f1f1eb;
}

#barra_serie {
    position: relative;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: #fda955;
    opacity: .9;
    padding-left: 24%;
}

#barra_serie :nth-child(9){
    margin-right: 50px;
}

div > .btn_series {
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    color: #ae440e;
    font-size: 18px;
    margin: 0px 4px;
    transition: .3s;
    font-weight: 900;
    background-color: transparent;
}

div > .btn_series:hover {
    background-color: rgba(198, 99, 49, 0.605);
    color: #fff;
}

div > .btn_series:focus {
    background-color: #ae440e;
    border-radius: 10px;
    color: white;
}

div#aulas_data {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: auto;
    padding: 20px;
    font-weight: 600;
    margin-top: 50px;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #ffad5b90;
    box-shadow: 0px 0px 10px #a46526cf;
}

div#aulas_data > span > h2 {
    padding: 20px 0px 20px 0px;
    margin-bottom:20px;
    color: #ae440e;
    border-bottom: 3px solid  #ca6f42;
    border-top: 3px solid  #ca6f42;
}

div#aulas_data > span > h2 {
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

div#aulas_data > .item-aulas {
    width: 100%;
    height: 80px;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 2em;
}

div#aulas_data > .item-aulas span {
    position: absolute;
    right: 10px;
    top: 4px;
}

div#aulas_data > #ver_mais-aulas {
    width: 80%;
    height: 70px;
    border: none;
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: white;
    font-size: 1.8em;
    font-weight: 600;
}

div#assinatura {
    width: 100%;
    height: 600px;
    background-image: url(../imagens/fundo-laranja-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 900;
    margin-top: 50px;
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.367);
}

div#assinatura section {
    width: 35%;
    position: relative  ;
    left: 60%;
    top: 35%;
}

div#assinatura h2 {
    font-family: 'Josefin San', sans-serif;
    font-size: 3em;
    text-align: center;
    color: white;
}

div#assinatura span#separador {
    display: block;
    position: relative;
    left: 45%;
    transform: translateX(-50%);
    width: 300px;
    height: 2.5px;
    font-family: sans-serif;
    margin: 20px;
    background-color: #915100;
}

div#assinatura p {
    width: 90%;
    text-align: center;
    position: relative;
    font-size: 1.3em;
    left: 50%;
    transform: translateX(-50%);
}

footer {
    width: 100%;
    height: 80px;
    background-color: #444444;
}

footer > span {
    color: white;
    font-weight: 900;
    font-size: 1.5em;
    position: relative;
    left: 42%;
    top: 42%;
    transform: translate(-50% -50%);
}

footer a {
    color: #ca6f42;
    text-decoration: none;
}

/* BOTAO ANIMADO */

.button{
    position:relative;
    display:inline-block;
    left: 300px;
    top: 40px;
  }
  
  .button a{
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding:20px 40px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .button a:active{
    top:10px;
    background-color:#F78900;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
  .button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }