* {
    font-family: 'Josefin Sans';
    font-weight: 500;
}

div#form_imagem {
    width: 650px;
    height: 400px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fda955;
    border-radius: 20px;
    box-shadow: 5px 5px 10px lightgray;

}

div#imagem {
    position: relative;
    background-image: url(../imagens/2829556.jpg        );
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 15px;    
    border-bottom-right-radius: 15px;    
    width: 60%;
}

#cadastro_form {
    width: 40%;
    position: relative;
    bottom: 20px;
}

#cadastro_form h1 {
    font-weight: 900;
    font-size: 2.6em;
    padding: 10px;
    text-align: center;
}

form {
    padding: 15px;
}

form .input {
    border: none;
    padding: 3px;
    width: 95%;
    margin: 5px 0px 15px 0px;
}

form label {
    font-family: 'Josefin Sans';
    font-weight: 600;
}

.botoes {
    position: relative;
    display: inline-block;
    height: 20px;
    background-color: white;
    padding: 5px;
    border: none;
    margin-bottom: 5%;
    text-align: center;

}

#div_inputs {
    position: relative;
    top: -30px;
}

span > a {
    text-decoration: none;
    color: black;
    margin-top: 5px;
    font-weight: 600;
}

#btn_continuar {
    width: 45% !important;
    margin-right: 2%;
}

#btn_login {
    width: 42% !important;
}

#btn_ems {
    width: 93% !important;
}

input {
    border: none;
    outline: none;
    color: black;
    font-weight: 600;
}

